body{
    padding-top: 20px;
}
.exam-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .exam-card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .exam-card:hover {
    transform: scale(1.05);
  }
  
  .exam-card h4 {
    color: #fff;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
  }
  
  .exam-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .exam-card li {
    margin-bottom: 10px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #2980b9;
  }
  