/* footer.css */
.footer-container {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .contact-info,
  .social-links {
    flex: 1;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
    display: block;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
  